<!--<div id="wrapper" [ngClass]="beToggled()" >-->
<!-- <div id="wrapper" [class.toggled]="isToggled">
	<div class="container-fluid">
		<a class="btn btn-menu pull-left hidden-xs hidden-sm hidden-md" (click)="menuOpen()">
			<span class="icon-Hamburger"></span>
		</a>
		<navbar></navbar>
		<sidebar #mysidebar></sidebar>
		<div id="page-content-wrapper">
			<router-outlet></router-outlet>
		</div>
	</div>
</div> -->


<div id="wrapper">
    <navbar></navbar>
    <sidebar #mysidebar></sidebar>
    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>