﻿<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navbar">
        <a class="navbar-brand" style="margin: 0px; padding: 0px;">
            <img src="../img/logo.png" class="img-responsive logo">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
		</button>
        <div class="message">{{message}}</div>
    </nav>
</header>

<!-- {{message}} -->
<!-- <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="padding: 0px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed hidden-sm hidden-md hidden-lg" aria-expanded="false" aria-controls="navbar">
			<button type="button" class="navbar-toggle collapsed hidden-sm hidden-md hidden-lg">
				<span class="icon-Hamburger"></span>
			</button>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav mobile-nav-wrap hidden-sm hidden-md hidden-lg" (expanded)="expanded($event)">
                <ul class="nav navbar-nav mobile-nav-wrap hidden-sm hidden-md hidden-lg">
                <li>
					<a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active"   [routerLinkActiveOptions]="{exact: true}" (click)="isCollapsed = !isCollapsed">
						<div class="pull-left">
							<span class="icon-Dashboard icon-large"></span>
						</div>
						<div class="pull-left icon-space">
							Page 1
						</div>
					</a>
				</li>
				<li>
					<a class="nav-link" [routerLink]="['leadlist']" routerLinkActive="router-link-active" (click)="isCollapsed = !isCollapsed">
						<div class="pull-left">
							<span class="icon-Contact icon-large"></span>
						</div>
						<div class="pull-left icon-space">
							Page 2
						</div>
					</a>
				</li>

            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                    <ul class="list-inline pull-right user-control">
                        <li class="user-item-2"><user></user></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div> -->