<!-- <div style="position: absolute;top: -100px;left: 80px;display: block;" ></div> -->

<div class="pop-wrapper">
    <div class="pop-header">
        Filters
        <button class="btn-close-pop" (click)="closeMe($event)">
                <i class="material-icons" style="font-size: 22px;">close</i>
        </button>
    </div>    
    <div class="pop-body">
        <ul class="filter-list list-inline">
            <li>
                <label class="check-wrap">A to Z
                    <input  (click)="radioClick($event)" id="AtoZ" type="checkbox" [(ngModel)]="AtoZChecked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap">Z to A
                    <input (click)="radioClick($event)" id="ZtoA" type="checkbox"  [(ngModel)]="ZtoAChecked">
                    <span class="checkmark"></span>
                </label>
            </li>
        </ul>
        <hr />
        <ul class="filter-list">

            <li *ngFor="let groupedName of filterState.filterList">
               <label class="check-wrap"> {{groupedName}}
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
        </ul>
        <!-- <form novalidate [formGroup]=form > -->
        <ul class="filter-list">
            <li *ngFor="let groupedName of myFilterList">
               <label class="check-wrap" >
                    {{groupedName.name}}
                    <input type="checkbox" [checked]="groupedName.isChecked" (change)="checkboxChecked($event)" >
                    <span class="checkmark"></span>
                </label>
            </li>
        </ul>
        <!-- </form> -->
            <!-- <li>
                <label class="check-wrap"> Cancelled
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Pending
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Approved
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Shipped
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Returned
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Backed Up
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Export Ready
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Report Complete
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="check-wrap"> Complete
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </li> -->
        <!-- </ul> -->
    </div>
</div>