
  .btn-show {
    margin: 0 auto;
  }

  .btn-close-pop {
    line-height: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    color: #000;
    outline: none;
    padding: 0px;
    margin: 0px 5px;
    position: absolute;
    right: 2px;
  }
  
  .btn-close-pop:hover {
    cursor: pointer;
    color: #0569d4;
  }
  
/* Customize the label (the container) */
.check-wrap {
  display: block;
  position: relative;
  padding-left: 45px;
  padding-top: 3px;
  margin: 0px 20px 20px 0px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  width: 31px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(206, 212, 218);
}

/* On mouse-over, add a grey background color */
.check-wrap:hover input ~ .checkmark {
  background-color: #f0f0f0;
}

/* When the checkbox is checked, add a background */
.check-wrap input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-wrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-wrap .checkmark:after {
  left: 10px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid #007bff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.filter-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 10px;
}

hr {
  margin-left: 0px; 
  margin-right: 0px;
  margin-bottom: 10px;
}

  .radio-wrap {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-wrap input {
    position: absolute;
    opacity: 0;
  }
  
  /* Create a custom radio button */
  .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgb(206, 212, 218);
  }
  
  /* On mouse-over, add a grey background color */
  .radio-wrap:hover input ~ .radiomark {
    background-color: #f0f0f0;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-wrap input:checked ~ .radiomark {
    background-color:#fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-wrap:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-wrap input:checked ~ .radiomark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-wrap .radiomark:after {
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    position: relative;
    content: "";
  }

  .pop-body {
    max-height: 60vh;
    overflow-y: auto;
    padding: 0px 15px 0px 15px;
    margin: 10px 10px 15px 0px;
  }

  .pop-header {
    font-size: 16px;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px;
    font-weight: bold;
  }
  
  .pop-wrapper{
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 10px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    position: absolute;
    display: block;
    z-index: 99;
    width: 250px;
    height: auto;
    top: 30px;
    left: 0px;
  }


