﻿<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a [routerLink]="['/orders']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">
                <div class="hidden-xs hidden-sm hidden-md">
                    <i class="material-icons" >&#xE854;</i>
                    <div class="text hidden-text"> 
                        Orders
                    </div>
                </div>
                <div style="clear:both;"></div>
            </a>
        </li>
        <li>
            <a [routerLink]="['customers']" routerLinkActive="router-link-active">
                <div class="hidden-xs hidden-sm hidden-md">
                    <i class="material-icons">&#xE7EF;</i>
                    <div class="text hidden-text">
                        Customers
                    </div>
                </div>
                <div style="clear:both;"></div>
            </a>
        </li>
        <li>
            <a [routerLink]="['quotes']" routerLinkActive="router-link-active">
                <div class="hidden-xs hidden-sm hidden-md">
                    <i class="material-icons">&#xE227;</i>
                    <div class="text hidden-text"> 
                        Quotes
                    </div>
                </div>
                <div style="clear:both;"></div>
            </a>
        </li>
        <li>
            <a [routerLink]="['contacts']" routerLinkActive="router-link-active">
                <div class="hidden-xs hidden-sm hidden-md">
                    <i class="material-icons">contacts</i>
                    <div class="text hidden-text"> 
                        Contacts
                    </div>
                </div>
                <div style="clear:both;"></div>
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['support']" routerLinkActive="router-link-active">
                <div class="hidden-xs hidden-sm hidden-md">
                    <i class="material-icons">contacts</i>
                    <div class="text hidden-text"> 
                        Support
                    </div>
                </div>
                <div style="clear:both;"></div>
            </a>
        </li> -->
        <hr />
        <li>
            <a href="https://elit.realityengineering.com" target="_blank">
                <div class="hidden-xs hidden-sm hidden-md">
                    <i class="material-icons">settings</i>
                    <div class="text hidden-text"> 
                        Admin
                    </div>
                </div>
                <div style="clear:both;"></div>
            </a>
        </li>
        <li>
            <a href="https://realityengineeringsol.sharepoint.com/Shared%20Documents/Forms/AllItems.aspx?viewpath=%2FShared%20Documents%2FForms%2FAllItems.aspx" target="_blank">
                <div class="hidden-xs hidden-sm hidden-md">
                    <i class="material-icons">folder</i>
                    <div class="text hidden-text"> 
                        Documents
                    </div>
                </div>
                <div style="clear:both;"></div>
            </a>
        </li>
        <li>
                <a href="https://reporting.renventsuite.com" target="_blank">
                    <div class="hidden-xs hidden-sm hidden-md">
                        <i class="material-icons">bar_chart</i>
                        <div class="text hidden-text"> 
                            Reporting
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </a>
            </li>
    </ul>
    <div style="position:fixed;left:5px;bottom:20px;font-size:0.7em;color:#fff;" class="hidden-text" *ngIf="userName.length > 2" >Hello {{userName}}</div>
    <div style="position:fixed;left:5px;bottom:5px;font-size:0.7em;color:#fff;" class="hidden-text" >Published: {{myBuildDate}}</div>
</div>