<div class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign in</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="signin-username">Username</label>
                    <input type="text" class="form-control" id="signin-username" required [(ngModel)]="usernameBox" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="signin-password">Password</label>
                    <input type="password" class="form-control" id="signin-password" required [(ngModel)]="passwordBox" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="doLogin()">Sign in</button>
            </div>
        </div>
    </div>
</div>