﻿<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>RES: Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
    <script>window.LogRocket && window.LogRocket.init('sxrmdb/otis');</script> -->
    <link href="/bootstrap.css" rel="stylesheet" />
    <link href="/sidebar-styles.css" rel="stylesheet" />
    <link href="/slide-new.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        router-outlet,
        ng-app {
            display: block!important;
        }
    </style>

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

    <script src="/core-js.min.js"></script>
    <script src="/zone.js"></script>
    <script src="/Reflect.js"></script>
    <script src="/moment.js"></script>
</head>
<!-- 3. Display the application -->

<body>
    <ng-app>
        <div class="container-fluid">
            <!-- <div class="navbar navbar-fixed-top navbar-custom" role="navigation">
                <div class="container-fluid" style="padding: 0px;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="icon-Hamburger"></span>
						</button>
                        <a class="btn btn-menu pull-left hidden-xs hidden-sm hidden-md" (click)="menuOpen()">
                            <span class="icon-Hamburger"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="sidebar-wrapper" class="hidden-xs">
                <ul class="sidebar-nav">
                    <li>
                        <a style="color: #919191;">
                            <div class="icon">
                                <span class="icon-Dashboard"></span>
                            </div>
                            <div class="hidden-xs hidden-sm hidden-md">
                                <div class="text">Page 1</div>
                                <div style="clear:both;"></div>
                            </div>
                            <div style="clear:both;"></div>
                        </a>
                    </li>
                    <li>
                        <a style="color: #919191;">
                            <div class="icon">
                                <span class="icon-Contact"></span>
                            </div>
                            <div class="hidden-xs hidden-sm hidden-md">
                                <div class="text">Page 2</div>
                            </div>
                            <div style="clear:both;"></div>
                        </a>
                    </li>
                </ul>
            </div> -->
            <!--<div class="container-fluid">
				<div class="loader"></div>
			</div>-->
        </div>

    </ng-app>
</body>

</html>