/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/* Toggle Styles */

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

#wrapper {
    padding-left: 0;
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 100%;
}

#wrapper.toggled {
    padding-left: -50px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 200px;
    height: 100%;
    margin-left: -200px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgba(0,114,207,1);
    background: -moz-linear-gradient(top, rgba(0,114,207,1) 0%, rgba(213,29,109,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,114,207,1)), color-stop(100%, rgba(213,29,109,1)));
    background: -webkit-linear-gradient(top, rgba(0,114,207,1) 0%, rgba(213,29,109,1) 100%);
    background: -o-linear-gradient(top, rgba(0,114,207,1) 0%, rgba(213,29,109,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,114,207,1) 0%, rgba(213,29,109,1) 100%);
    background: linear-gradient(to bottom, rgba(0,114,207,1) 0%, rgba(213,29,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072cf', endColorstr='#d51d6d', GradientType=0 );
        padding: 0px;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    overflow: hidden;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 50px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 56px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 50px;
}

.sidebar-nav li:hover{
    background-color: rgba(255,255,255,0.25);
}


/*.sidebar-nav li:last-child {
	position: absolute;
	bottom: 20px;
	width: 100%;
}*/

.sidebar-nav li span {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

.sidebar-nav li .text {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    width: 0px;
    margin-left: 0px;
    float: left;
    font-weight: 500;
}

.sidebar-nav li i {
    float: left;
    margin: 0px 20px;
    line-height: 56px;
    vertical-align: center;
    color: #fff;
}

.sidebar-nav li a:link {
    display: block;
    color: #ffffff;
}

.sidebar-nav li .text {
    color: #fff;
}

.router-link-active {
    background-color: rgba(255,255,255,0.5);
    color: #fff;
}

@media(min-width: 1024px) {
    #wrapper {
        padding-left: 200px;
    }
    #wrapper.toggled {
        padding-left: 50px;
    }
    #sidebar-wrapper {
        width: 200px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
        top: 56px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* @media only screen and (min-width: 50px) and (max-width: 1024px) {
    #page-content-wrapper {
        position: relative;
        top: 50px;
    }
    .sidebar-nav {
        position: absolute;
        top: 12px;
        width: 50px;
        margin: 0;
        padding: 0;
        list-style: none;
        top: 50px;
    }
    #wrapper {
        padding-left: 50px;
    }
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 50px;
        width: 50px!important;
        height: 100%;
        margin-left: -50px;
        background: #232323;
        padding: 0px;
    }
} */

/* @media only screen and (max-width: 767px) {
    #wrapper {
        padding: 0px;
        width: 100%;
    }
    #sidebar-wrapper {
        display: none;
    }
    #wrapper {
        padding-left: 0px;
    }
    a.nav-link {
        text-decoration: none;
    }
    a.nav-link:last-child {
        text-decoration: none;
        padding-bottom: 10px;
    }
    .router-link-active {
        border-left: 0px solid #0072cf;
        color: #0072cf!important;
        font-weight: 400;
        text-decoration: none!important;
        display: block;
    }
    .router-link-active > .icon,
    .router-link-active .text {
        position: relative;
        left: 0px;
    }
} */

@media only screen and (min-width:767px) and (max-width: 1440px) {
    #page-content-wrapper {
        position: relative;
        top: 50px;
    }
    .hidden-text {
        display: none;
    }
    .sidebar-nav {
        position: absolute;
        top: 12px;
        width: 66px;
        margin: 0;
        padding: 0;
        list-style: none;
        top: 50px;
    }
    #wrapper {
        padding-left: 66px;
    }
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 66px;
        width: 66px!important;
        height: 100%;
        margin-left: -66px;
        padding: 0px;
    }
}