#slide {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    z-index: 999;
}

.show-details {
    background-color: #fff;
    right: 0vw;
    width: 56.5vw;
    height: 96vh;
    overflow-y: hidden;
    position: fixed;
    top: 56px;
    background-color: #f1f1f1;
    animation: slide-in 0.3s forwards;
    box-shadow: -7px 0px 7px 1px rgba(0,0,0,.3);
    -webkit-animation: slide-in 0.3s forwards;
    opacity: 1;
}

/*Apply Class to Hide*/

.hide-details {
    right: -57vw;
    width: 56.5vw;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    top: 56px;
    box-shadow: -7px 0px 7px 1px rgba(0,0,0,.3);
    animation: slide-out 0.3s forwards;
    -webkit-animation: slide-out 0.3s forwards;
    opacity: 1;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

/* Classes to moved into a main.css file */

.bg-navbar {
    background-color: #004F8F;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.details {
    width: 100%;
    background-color: rgba(0,114,207,1);
    color: #fff;
    padding: 5px 0px;
    margin: 0;
}

.custom-table >tbody > tr > td {
    padding-left: 18px;
}

.form-group {
    margin-bottom: 4px;
}

.form-group > label {
    font-weight: 700;
    margin-bottom: 5px;
}

hr {
    border-color: #cccccc;
    margin: 4px 15px;
}

h2 {
    margin-bottom: 8px;
}

h2.orders {
    margin-bottom: 16px;
}

h2 > small {
    font-size: 18px;
    font-weight: 600;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.disabled {
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.btn-tab:disabled, .btn-tab:disabled.btn-tab:hover {
    color: rgba(0,0,0,.8);
    opacity: 1;
}

.required {
    color: red;
}

ul.nav {
    background-color: #0072cf;
}

/* .btn-primary, .btn-danger, .btn-success  {
    box-shadow: rgba(0,0,0,0.3) 0px 2px 2px;
} */

.btn-bump {
    position: relative;
    top: 5px;
}

.btn-close {
    color: #ffffff;
    font-size: 22px;
    position: fixed;
    right: 10px;
    top: 65px;
    z-index: 9999;
}

.btn-close:hover {
    color: #ffffff;
}

.btn-close-2 {
    color: #ffffff;
    font-size: 22px;
    position: fixed;
    right: 10px;
    top: 65px;
    z-index: 9999;
}

.btn-close-2:hover {
    color: #ffffff;
}

.btn-link.btn-tab:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-sort {
    color:rgba(0,0,0,.54);
    padding: 0px;
    border: 0px;
}

.btn-sort:hover {
    text-decoration: none;
    background-color: transparent;
    color:rgba(0,0,0,.87);
}

.btn-sort:focus, .btn-sort:active {
    text-decoration: none;
    color:rgba(0,0,0,.87);
}


.btn-tab {
    font-weight: 600;
    color: #ffffff;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    text-decoration: none;
    border-bottom: 5px solid rgba(0,114,207,1);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-tab.active {
    border-bottom: 5px solid #89C0F7;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 1px;
    text-decoration: none;
}

.footer-fixed {
    position:fixed; 
    bottom: 20px; 
    right:0px;
    background-color: #ffffff; 
    width: 100%;
    padding: 20px 10px;
    margin-left: -15px;
  }

img.logo {
    height: 26px;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.overflow {
height: 71vh;
overflow-y: auto;
overflow-x: hidden;
margin: 10px;
}

.overflow-no-tab{
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
}

.no-padding {
    margin: 0px;
    padding: 0px;
}

.message {
    color: #fff; 
    font-weight: 600; 
    text-align: right; 
    position: fixed;
    right: 20px;
}

.select2-container--default .select2-selection--single {
    height: calc(1.8125rem + 2px)!important;
    border-left-color: rgb(206, 212, 218)!important;
    border-right-color: rgb(206, 212, 218)!important;
    border-top-color: rgb(206, 212, 218)!important;
    border-bottom-color: rgb(206, 212, 218)!important;
}

.select2-container--default .select2-selection--multiple {
    min-height: 34px;
    border-left-color: rgb(206, 212, 218)!important;
    border-right-color: rgb(206, 212, 218)!important;
    border-top-color: rgb(206, 212, 218)!important;
    border-bottom-color: rgb(206, 212, 218)!important;
}

.service-item {
    border-color: #005cbf;
    background-color: rgb(110, 174, 238);
    color: #fff;
    line-height: 1.5em;
}

textarea.form-control-sm.tall {
    height: calc(1.5em*4 + 10px);
}

textarea.form-control-sm.taller {
    height: calc(1.5em*6 + 10px);
}

textarea {
    resize: none;
  }
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px)  {
      .show-details {
          width: 54vw;
          right: 0vw;
      }

      .hide-details {
        width: 54vw;
        right: -54vw;
    }
}


