<div>
    <div class="row details">
        <div class="col-11">
            <h2>Customer Details</h2>
        </div>
    </div>
    <div class="overflow-no-tab">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="row pt-3 pl-3 pr-3">
                <div class="form-group col-4">
                    <label for="nameField">Name
                        <span class="required">*</span>
                    </label>
                    <input class="form-control form-control-sm" formControlName="name" id="nameField" />
                </div>
                <div class="form-group col-4">
                    <label for="shortNameField">Short Name
                        <span class="required">*</span>
                    </label>
                    <input class="form-control form-control-sm" formControlName="shortName" id="shortNameField" />
                </div>
                        <div class="col-4">
                        <div class="form-group float-left" style="width: 83%;">
                            <label>Partner</label>
                            <select class="form-control form-control-sm" formControlName="partnerId">
                                <option value="null">- None -</option>
                                <option [value]="partner.partnerId" *ngFor="let partner of partners$ | async">{{partner.name}}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary float-left mt-4 ml-3" (click)="showPartners()" style="line-height: 20px; position: relative; top: 5px;">
                            <i class="material-icons" style="margin-top: 2px; font-size:16px; vertical-align: top;">&#xE145;</i>
                        </button>
                    </div>
                </div>
                <partners [hidden]="showpartners"></partners>
                <div class="row pl-3 pr-3">
                    <div class="form-group col-3">
                        <label for="ftpUserNameField">FTP Username</label>
                        <input class="form-control form-control-sm" formControlName="ftpUserName" id="ftpUserNameField" />
                    </div>
                    <div class="form-group col-3">
                        <label for="ftpPasswordField">FTP Password</label>
                        <input class="form-control form-control-sm" formControlName="ftpPassword" id="ftpPasswordField" />
                    </div>
                    <div class="form-group col-3">
                        <label for="backendUserNameField">Backend UserName</label>
                        <input class="form-control form-control-sm" formControlName="backendUserName" id="backendUserNameField" />
                    </div>
                    <div class="form-group col-3">
                        <label for="backendPasswordField">Backend Password</label>
                        <input class="form-control form-control-sm" formControlName="backendPassword" id="backendPasswordField" />
                    </div>
                </div>
                <div class="row pl-3 pr-3">
                    <div class="form-group col-6">
                        <label for="templateNotesField">Default Project Notes</label>
                        <textarea class="form-control form-control-sm taller" formControlName="templateNotes" id="templateNotesField"></textarea>
                    </div>
                    <div class="form-group col-6">
                        <label for="notesField">Notes</label>
                        <textarea class="form-control form-control-sm taller" formControlName="notes" id="notesField"></textarea>
                    </div>
                    <div class="form-group col-6">
                        <label for="shippingAccountField">Shipping Account</label>
                        <textarea class="form-control form-control-sm tall" formControlName="shippingAccount" id="shippingAccountField"></textarea>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="projectListField">Project List</label>
                            <input class="form-control form-control-sm" formControlName="projectList" id="projectListField" />
                        </div>
                    </div>
                    <div class="footer-fixed">
                        <div class="col-12">
                            <div class="float-right">
                                <button type="button" class="btn btn-danger mr-3" (click)="onHideOrg()">Delete</button>
                                <button type="submit" [disabled]="form.pristine" class="btn btn-primary pr-3">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <br />
    <!-- <div class="row pl-3 pr-3">
       <div class="col-12">
            ~Form Value: {{form.value | json}}~<br/>
            ~Form Status: {{form.status | json}}~
       </div>
   </div> -->
    </div>
