<div>
	<div class="row details">
		<div class="col-11">
			<h2>Quote Details</h2>
			<!-- <small>{{title}}</small> -->
		</div>
	</div>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
		<div class="overflow-no-tab">
			<div class="row pt-3 pr-3 pl-3">
						<div class="col-4">
							<div class="form-group">
								<label for="quoteNumberDisplay">Quote Number</label>
								<input type="text" class="form-control" [value]="quoteNumber" id="quoteNumberDisplay" readonly/>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="projectTitleField">Project Title <span class="required">*</span></label>
								<input type="text" class="form-control" formControlName="projectTitle" id="projectTitleField" />
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="salesPersonField">Sales Person <span class="required">*</span></label>
								<select   formControlName="salesPerson" class="form-control" id="salesPersonField">
										<option value="">-- Select --</option>
										<option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
								</select>
						</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="statusField">Status <span class="required">*</span></label>
								<select formControlName="status" class="form-control" id="statusField">
									<option value="1">Quoted</option>
									<option value="2">Estimate</option>
									<option value="3">Pending</option>
									<option value="4">Approved</option>
									<option value="5">Not Approved</option>
									<option value="6">Cancelled</option>
									<option value="7">Replaced</option>
								</select>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="companyNameField">Company Name</label>
								<input type="text" formControlName="companyName" class="form-control" id="companyNameField"/>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="contactNameField">Contact Name (freeform)</label>
								<input type="text" formControlName="contactName" class="form-control" id="contactNameField"/>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="quotationDateField">Quotation Date</label>
								<input type="date"  formControlName="quotationDate" class="form-control" id="quotationDateField"/>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="businessTypeField">Business Type</label>
								<input type="text" formControlName="businessType" class="form-control" id="businessTypeField"/>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="billable">Billable</label>
								<br />
								<input type="checkbox" formControlName="billable"/>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="organizationField">Organization</label>
								<select formControlName="organizationId" class="form-control" id="organizationField">
									<option value="0">-- Select --</option>
									<option *ngFor="let org of organizationList$ | async" [value]="org.organizationId">{{org.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="contactField">Contact (record)</label>
								<br />
								**Contact Search Control Goes Here**
							</div>
						</div>
					</div>
		</div>

		<div class="footer-fixed">
			<div class="col-12">
					<button type="submit" [disabled]="form.pristine" class="btn btn-primary btn-success float-right ml-3">Save</button>
				<button type="button" class="btn btn-primary float-right" [routerLink]="['/customers/customer-details', form.value.organizationId]" [disabled]="form.value.organizationId==null">Visit</button>
			</div>
		</div>
	</form>
</div>