<!-- <div class="row ml-3 mr-3">
	<h2>Quotes</h2>
</div> -->
<div class="row mt-2 ml-2 mr-2">
	<input type="text" id="searchBox" class="form-control w-25 float-left" placeholder="Start typing..." (keyup)="searchTerm$.next($event.target.value)"/>
	<button class="btn btn-close-2 btn-link" routerLink='/quotes'>
		<i class="material-icons" style="font-size:22px; vertical-align: top;">&#xE14c;</i>
	</button>
	<div [ngClass]="{'show-details' : showDetailsBoolean, 'hide-details' : !showDetailsBoolean }" id="slide">
		<router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
	</div>
	<button routerLink='/quotes/quote-details/0' class="btn btn-primary ml-3">
		<i class="material-icons" style="font-size: 22px; vertical-align: top;">&#xE145;</i>
		New Quote
	</button>
		<div class="clearfix"></div>
	<div>
</div>
<div class="row mt-2 ml-2 mr-2">
	<table class="table table-sm table-fixed">
		<thead>
			<tr>
				<th *ngFor="let header of headers$ | async">{{header}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let quote of quotes$ | async" [routerLink]="['/quotes/quote-details', quote.quoteNumber]" (click)="showDetailsBoolean = true">
				<td *ngFor="let column of columns$ | async" style="max-width:25vw;">{{quote[column]}}</td>
			</tr>
		</tbody>
	</table>
</div>
<button *ngIf="showShowAll" (click)="showAll()" class="btn btn-primary btn-show">
	<i class="material-icons" style="font-size:22px; vertical-align: top; position: relative; top: 1px;">view_list</i> Show All
</button>