.checked-only {
  & > .is-unchecked {
    display: none;
  }
}

.btn-service {
  margin-right: 20px;
  height: 62px;
}

.taller {
  height: calc(1.5em*4 + 6px);
}

/* Customize the label (the container) */
.check-wrap {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0px 10px 10px 0px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(206, 212, 218);
  margin-right: 10px;
}

/* On mouse-over, add a grey background color */
.check-wrap:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-wrap input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-wrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-wrap .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid #007bff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer-fixed {
  position:fixed; 
  bottom: 20px; 
  right:0px;
  background-color: #ffffff; 
  width: 100%;
  padding: 20px 10px;
  margin-left: -15px;
}
