.table-fixed{
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  background-color: #fff;
  tbody{
    height: 75.6vh;
    overflow-y: scroll;
    width: 100%;
    margin-right: 17px;
  }
  thead,tbody,tr{
    display:block;
  }
  tbody{
    tr:hover, tr:nth-child(odd):hover {
      background-color: #99ccff;
    }
    tr:active, tr:focus {
      outline: 0;
    }
    tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    td{
      display: inline-block;
      width: 9%;
      padding: 2px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td:nth-child(2) {
      width: 19%;
    }
  }
  tbody.badges {
    td{
      width: 10%;
    }
    td:nth-child(1) {
      width: 7%;
    }
    td:nth-child(2) {
      width: 13%;
    }
  }
  tbody.shipping {
    td{
      width: 12.5%;
    }
  }
  tbody.support {
    td{
      width: 10%;
    }
  }
}
.btn-header-row {
  width: 100%;
  margin-right: 17px;
}

.btn-header {
  width: 9%;
  padding: 2px 10px;
  display: inline-block;
}

.btn-header:nth-child(2) {
  width: 19%;
}

.btn-header-row.badges {
  .btn-header {
    width: 10%;
  }
  
  .btn-header:nth-child(1) {
    width: 7%;
  }
  
  .btn-header:nth-child(2) {
    width: 13%;
  }
}

.btn-header-row.shipping {
  .btn-header {
    width: 12.5%;
  }
}

.btn-header-row.support {
  .btn-header {
    width: 10%;
  }
}

.btn-show {
  margin: 0 auto;
}

.search {
  width: 15%;
  margin-right: 10px;
}

.search:focus, .search:hover {
  cursor: text;
}

.view-drop:focus, .view-drop:hover {
  cursor: pointer;
}
