
<div class="row pt-3 pl-3 pr-3">
  <div class="col-12">
  </div>
  <div class="col-12">
            <button class="btn btn-primary btn-service" [ngClass]="{'active':item.itemId==currentOrderItemId}" *ngFor="let item of orderItems$ | async" (click)="doToggleRowExpand(item)">
                <b>{{item.serviceName}}</b>
                <br />
                {{item.serviceDescription}}
                <!-- <p [hidden]="!item.serviceOptionsDisplay">{{item.serviceOptionsDisplay}}</p>
                <p [hidden]="!item.notes">{{item.notes}}</p> -->
                </button>
            <button class="btn btn-primary btn-service"  [ngClass]="{'active':0==currentOrderItemId}" (click)="doCreate()" style="line-height: 48px">
                <i class="material-icons" style="font-size:22px; vertical-align: center; position: relative; top: 5px;">&#xE145;</i> New Service
            </button>
    </div>
</div>
<div ng-bind="currentOrderItem" [hidden]="!showDetails">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="row pt-2 pl-3 pr-3">
            <div class="col-4">
                <input type="hidden" formControlName="itemId" readonly/>
                <div class="form-group">
                    <label>Service Type</label>
                    <select formControlName="serviceId" class="form-control form-control-sm" id="serviceField">
                        <option value="">-- Select --</option>
                        <option *ngFor="let service of services$ | async" value="{{service.serviceId}}">{{service.description}}</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="serviceNameField">Service Name</label>
                    <input type="text" class="form-control form-control-sm" formControlName="serviceDescription" id="serviceNameField">
                </div>
            </div>
            <!-- <div class="col-3">
                <div class="form-group">
                    <label>Station ID</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Station Username</label>
                    <input type="text" class="form-control">
                </div>
            </div> -->
        </div>
        <div class="row pt-2 pl-3 pr-3">
            <div class="col-4" >
                <div class="form-group">
                    <label for="notesField">Service Notes</label>
                    <textarea formControlName="notes" class="form-control taller" id="notesField"></textarea>
                    <!-- <small>Additional notes for this order item.</small> -->
                </div>
            </div>
            <div class="col-8">
                <div class="form-group" style="min-height: 224px;">
                    <label>Options</label> 
                    <div [ngClass]="{'row':true}" formArrayName="options">
                            <!-- 'checked-only': hideUnselectedOptions -->
                        <div [ngClass]="{'col-4':true}" *ngFor="let option of selectedServiceOptions$ | async">
                            <label class="check-wrap">
                                <span style="margin-left: 5px; position: relative; top: 0px;">{{option.description}}</span>
                                <input type="checkbox" [checked]="option.uiIsSelected"  />
                                <span class="checkmark" (click)="checkBoxChecked(option)"  ></span>
                            </label>
                            <!-- <small>Service being provided.</small> -->
                        </div>
                        <!-- <div class="col-4" *ngIf="hideUnselectedOptions"><button class="btn btn-link no-padding" (click)="hideUnselectedOptions=false" type="button">Show More Options</button></div> -->
                        <div class="col-12" *ngIf="!noServiceOptions && noSelectedOptions">There are no options selected.</div>
                        <div class="col-12" *ngIf="noServiceOptions">There are no options available for this service.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 pl-3 pr-3">
            <div class="col-12">
                
                <hardware [orderId]="orderId" [currentOrderItemId]="currentOrderItemId"></hardware>
                <!-- <div class="form-group">
                    <label>Options</label>
                    <div [ngClass]="{'row':true, 'checked-only': hideUnselectedOptions}" formGroupName="options">
                        <div [ngClass]="{'col-3':true, 'is-unchecked':!option.uiIsSelected}" *ngFor="let option of selectedServiceOptions$ | async">
                            <label><input type="checkbox" [value]="option.optionId" [formControlName]="option.optionId"/> {{option.description}}</label>
                            
                        </div>
                        <div class="col-3" *ngIf="hideUnselectedOptions"><button class="btn btn-link no-padding" (click)="hideUnselectedOptions=false" type="button">Show More Options</button></div>
                        <div class="col-12" *ngIf="!noServiceOptions && noSelectedOptions">There are no options selected.</div>
                        <div class="col-12" *ngIf="noServiceOptions">There are no options available for this service.</div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="footer-fixed">
            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                        <button type="button" *ngIf="showDelete" (click)="onDeleteCurrentItem()" class="btn btn-danger">Delete Service</button>
                        <button type="submit" [disabled]="form.pristine" class="btn btn-success ml-3 mr-3">{{showDelete?'Save Service':'Save Service'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

  