<div>
    <div class="row details">
        <div class="col-11">
            <h2 class="truncate">Order Details
                <small>{{customerDisplay}} - {{orderDescription}} &nbsp;&nbsp;</small>
            </h2>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button (click)="setTabInterceptor(0)" class="btn btn-link btn-tab" [class.active]="showGeneral === true" type="button">General</button>
            </li>
            <li class="nav-item">
                <button (click)="setTabInterceptor(1)" [disabled]="!orderIsCreated" class="btn btn-link btn-tab" [class.active]="showBadges === true" type="button">Badges</button>
            </li>
            <li class="nav-item">
                <button (click)="setTabInterceptor(2)" [disabled]="!orderIsCreated" class="btn btn-link btn-tab" [class.active]="showShipping === true" type="button">Shipping</button>
            </li>
            <li class="nav-item">
                <button (click)="setTabInterceptor(3)" [disabled]="!orderIsCreated" class="btn btn-link btn-tab" [class.active]="showServices === true" type="button">Services</button>
            </li>
            <li class="nav-item">
                <button (click)="setTabInterceptor(4)" [disabled]="!orderIsCreated" class="btn btn-link btn-tab" [class.active]="showSupport === true" type="button">Support</button>
            </li>
        </ul>
        <div [ngSwitch]="tab">
            <div id="general" class="overflow" *ngSwitchDefault>
                <div class="row pt-3 pl-3 pr-3">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="descriptionField">Description/Show Name
                                <span class="required">*</span>
                            </label>
                            <input type="text" class="form-control form-control-sm" formControlName="description" id="descriptionField" />
                            <!-- <small>Name of the Event/Show or a description of who/where this order is for.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgeOrderStatusField">Kit Order Status</label>
                            <!-- <div *ngIf="!badgeOrderStatus.valid">{{badgeOrderStatus.errors | json}}</div> -->
                            <select [class.invalid-state]="kitStatus" formControlName="badgeOrderStatus" class="form-control form-control-sm" id="badgeOrderStatusField">
                                <option value="">-- Select --</option>
                                <option value="Purchase">Purchase</option>
                                <option value="DoNotPurchase">Do Not Purchase</option>
                                <option value="Pending">Pending</option>
                                <option value="Investigate">Investigate</option>
                                <option value="AcquiredForOther">Acquired for Other</option>
                                <option value="Purchased">Purchased</option>
                                <option value="ResearchOnly">Research Only</option>
                                <option value="ExhibitorOrdering">Exhibitor Ordering</option>
                                <option value="NotAvailable">Not Available</option>
                                <option value="Researched">Researched</option>
                            </select>
                            <!-- <small>Status of badge kit ordering.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="statusField">Status
                                <span class="required">*</span>
                            </label>
                            <select formControlName="status" class="form-control form-control-sm" id="statusField">
                                <option value="1">Cancelled</option>
                                <option value="2">Pending</option>
                                <option value="3">Approved</option>
                                <option value="4">Shipped</option>
                                <option value="10">App Download</option>
                                <option value="5">Returned</option>
                                <option value="6">Backed Up</option>
                                <option value="11">List Import</option>
                                <option value="7">Export Ready</option>
                                <option value="9">Report Complete</option>
                                <option value="8">Complete</option>
                            </select>
                            <!-- <small>Current status of the order through the pipeline.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="quoteNumberField">Quote Number</label>
                            <select2 [options]="initialQuote" [settings]="quoteSelectSettings" formControlName="quoteNumber"></select2>
                            <!-- <small>(**Searchable list**)Quote number that this order is from.</small> -->
                        </div>
                        <!-- <div class="form-group" ng-if="form.value.orderId > 0">
                            <label>Order Number</label> 
                            {{form.value.orderId}}
                            <input type="text" class="form-control form-control-sm" [value]="orderId" id="orderIdDisplay" readonly/>
                        </div> -->
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="jobNumberField">Job Number</label>
                            <input type="text" formControlName="jobNumber" class="form-control form-control-sm" id="jobNumberField" />
                            <!-- <small>Job Number from the client / Exhibit house.</small> -->
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row pl-3 pr-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="organizationIdField">Customer/Organization
                                <span class="required">*</span>
                            </label>
                            <select formControlName="organizationId" class="form-control form-control-sm" id="organizationIdField">
                                <option value="">-- Select --</option>
                                <option *ngFor="let org of organizationList$ | async" [value]="org.organizationId">{{org.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="customerContactField">Customer Contact</label>
                            <select2 [options]="initialCustomerContact" [settings]="customerContactSelectSettings" formControlName="customerContactId"></select2>
                            <!-- <small>(**Customer Searchlist**)The contact at the customer company we are working with.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="accountOwnerField">
                                Account Owner
                                <span class="required">*</span>
                            </label>
                            <select formControlName="accountOwner" class="form-control form-control-sm" id="accountOwnerField">
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                            <!-- <small>(**WMS User dropdown**)Salesperson that owns the account this order is under.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="accountManagerField">Account Manager</label>
                            <select formControlName="accountManager" class="form-control form-control-sm" id="accountManagerField">
                                <option value="">-- Select --</option>
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                            <!-- <small>(**WMS User dropdown**)Person in charge of detail management for the account this order is under.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="projectLeadField">Project Lead</label>
                            <select formControlName="projectLead" class="form-control form-control-sm" id="projectLeadField">
                                <option value="">-- Select --</option>
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                            <!-- <small>(**WMS User dropdown**)Development team-member that is heading up this order.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="supportField">Support Status</label>
                            <select formControlName="support" class="form-control form-control-sm" id="supportField">
                                <option value="">-- Select --</option>
                                <option value="Approved">Approved</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Pending">Pending</option>
                                <!-- <option value="4">Approved</option>
                                <option value="5">Approved</option> -->
                            </select>
                        </div>
                        <!-- <small>(**WMS User dropdown (needs 'null' option)**)RES Tech that will be supporting the Event/Show, if applicable.</small> -->
                    </div>
                </div>
                <hr />
                <div class="row pl-3 pr-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="orderDateField">Order Date</label>
                            <input type="date" formControlName="orderDate" class="form-control form-control-sm" id="orderDateField" />
                            <!-- <small>Date the order was placed.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="beginDateField">Event Starts
                                <span class="required">*</span>
                            </label>
                            <input #eventStarts min="{{projectDue.value}}" type="date" formControlName="beginDate" class="form-control form-control-sm" id="beginDateField" />
                            <!-- <small>The date that the Event/Show starts.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="endDateField">Event Ends</label>
                            <input type="date" #eventEnds min="{{eventStarts.value}}" formControlName="endDate" class="form-control form-control-sm" id="endDateField" />
                            <!-- <small>Date the Event/Show ends.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="projectDueDateField">Project Due
                                <span class="required">*</span>
                            </label>
                            <input #projectDue min="{{calculateProjectDue()}}" type="date" formControlName="projectDueDate" class="form-control form-control-sm" id="projectDueDateield" />
                            <!-- <small>Date that production on this order should be finished.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="shipDateField">Equipment Ships Date</label>
                            <input #equipmentShips max="{{equipmentDelivery.value}}" type="date" formControlName="shipDate" class="form-control form-control-sm" id="shipDateField" />
                            <!-- <small>Date that equipment will be shipped out.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="arrivalDateField">Equipment Delivery Date</label>
                            <input #equipmentDelivery min="{{equipmentShips.value}}" type="date" formControlName="arrivalDate" class="form-control form-control-sm" id="arrivalDateField" />
                            <!-- <small>Date that equipment should arrive at Event/Show.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Equipment Returned?</label>
                            <label class="check-wrap" for="equipmentReturnedField">
                                <input type="checkbox" formControlName="equipmentReturned" id="equipmentReturnedField" />
                                <span class="checkmark"></span>
                            </label>
                            <!-- <small>Date that equipment will arrive back at RES.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Has Compliance?</label>
                            <label class="check-wrap" for="hasComplianceField">
                                <input type="checkbox" formControlName="hasCompliance" id="hasComplianceField" />
                                <span class="checkmark"></span>
                            </label>
                            <!-- <small>Indicates this order has additional handling related to Pharma compliance.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="postShowDeliveryDateField">Post Show Delivery Date</label>
                            <input min="{{eventEnds.value}}" type="date" formControlName="postShowDeliveryDate" class="form-control form-control-sm" id="postShowDeliveryDateField" />
                            <!-- <small>Date that post-show reports/exports need to be delivered by.</small> -->
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row pl-3 pr-3">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="locationField">Location</label>
                            <input type="text" formControlName="location" class="form-control form-control-sm" id="location" />
                            <!-- <small>City/State the Event/Show is taking place in.</small> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="venueField">Venue</label>
                            <input type="text" formControlName="venue" class="form-control form-control-sm" id="venueField" />
                            <!-- <small>Convention center / Hotel this Event/Show is taking place at.</small> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="boothNumberField">Booth Number</label>
                            <input type="text" formControlName="boothNumber" class="form-control form-control-sm" id="boothNumberField" />
                            <!-- <small>Yep, the booth number.</small> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="websiteField">Website</label>
                            <input type="url" formControlName="website" class="form-control form-control-sm" id="websiteField" />
                            <!-- <small>Event/Show's website.</small> -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="notesField">Customer Notes</label>
                            <textarea type="text" formControlName="notes" class="form-control form-control-sm taller" id="notesField"></textarea>
                            <!-- <small>General notes for this order, this gets pre-populated from the Customer's Template Notes field.</small> -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="hoursField">Show Hours</label>
                            <textarea formControlName="hours" class="form-control form-control-sm taller" id="hourseField"></textarea>
                            <!-- <small>Event/Show hours of exhibiting, if applicable.</small> -->
                        </div>
                    </div>
                </div>
                <div class="fixed-footer">
                    <div class="col-12">
                        <div class="float-left">
                            <button (click)="cloneOrder()" class="btn btn-primary">Clone</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="float-right">
                            <button type="button" *ngIf="orderIsCreated" (click)="onHideOrder()" class="btn btn-danger mr-3">{{deleteText}}</button>
                            <button type="submit" [disabled]="form.pristine" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="badges" class="overflow" *ngSwitchCase="1">
                <div class="row pt-3 pl-3 pr-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgeCompanyField">Badge Company</label>
                            <select formControlName="badgingCompany" class="form-control form-control-sm" id="badgeCompanyField">
                                <option value="">-- Select --</option>
                                <option value="N/A">N/A</option>
                                <option value="ATS">ATS</option>
                                <option value="Aventri/ITN">Aventri/ITN</option>
                                <option value="Bartizan">Bartizan</option>
                                <option value="Capture Technologies">Capture Technologies</option>
                                <option value="CDS">CDS</option>
                                <option value="CMR ">CMR </option>
                                <option value="CompuSystems">CompuSystems</option>
                                <option value="Conexsys">Conexsys</option>
                                <option value="Cvent">Cvent</option>
                                <option value="Experient">Experient</option>
                                <option value="Expobadge">Expobadge</option>
                                <option value="ExpoLogic">ExpoLogic</option>
                                <option value="Kenes">Kenes</option>
                                <option value="Key4Events">Key4Events</option>
                                <option value="Maritz">Maritz</option>
                                <option value="MCI Group">MCI Group</option>
                                <option value="Microspec">Microspec</option>
                                <option value="Netronix">Netronix</option>
                                <option value="QMS">QMS</option>
                                <option value="Showcare">Showcare</option>
                                <option value="SmartSource">SmartSource</option>
                                <option value="Spargo">Spargo</option>
                                <option value="Streampoint">Streampoint</option>
                                <option value="TRC Showleads">TRC Showleads</option>
                                <option value="TSL">TSL</option>
                                <option value="Other">Other</option>
                            </select>
                            <!-- <small>Company prodiving badges for this Event/Show</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgeTypeField">Badge Type</label>
                            <select formControlName="badgeType" class="form-control form-control-sm" id="badgeTypeField">
                                <option value="">-- Select --</option>
                                <option value="None">None</option>
                                <option value="ManualEntry">Manual Entry</option>
                                <option value="PDF417">PDF 417</option>
                                <option value="OneD">1-D</option>
                                <option value="QR">QR</option>
                                <option value="Magstripe">Mag-stripe</option>
                                <option value="RFID">RFID</option>
                                <option value="Aztec">Aztec</option>
                                <option value="OCR">OCR</option>
                            </select>
                            <!-- <small>The type of encoding format that badges will use.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgingServiceField">Badging Services</label>
                            <select formControlName="badgingService" class="form-control form-control-sm" id="badgingServiceField">
                                <option value="">-- Select --</option>
                                <option value="RealTime">Badge Real Time</option>
                                <option value="PostMatch">Badge Post Match</option>
                                <option value="BadgeScan">Badge Scan</option>
                                <option value="ImageCapture">Image Capture</option>
                                <option value="ListMatch">List Match</option>
                                <option value="Import">Import</option>
                                <option value="ManualEntry">Manual Entry</option>
                                <option value="Other">Other</option>
                            </select>
                            <!-- <small>Specifies any additional badge services such API or Post-Match.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgeOrderStatusField">Kit Order Status</label>
                            <select formControlName="badgeOrderStatus" class="form-control form-control-sm" id="badgeOrderStatusField">
                                <option value="">-- Select --</option>
                                <option value="Purchase">Purchase</option>
                                <option value="DoNotPurchase">Do Not Purchase</option>
                                <option value="Pending">Pending</option>
                                <option value="Investigate">Investigate</option>
                                <option value="AcquiredForOther">Acquired for Other</option>
                                <option value="Purchased">Purchased</option>
                                <option value="ResearchOnly">Research Only</option>
                                <option value="ExhibitorOrdering">Exhibitor Ordering</option>
                                <option value="NotAvailable">Not Available</option>
                                <option value="Other">Other</option>
                            </select>
                            <!-- <small>Status of badge kit ordering.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgeKitOrderDateField">Badge Kit Order Date</label>
                            <input type="date" formControlName="badgeKitOrderDate" class="form-control form-control-sm" id="badgeKitOrderDateField" />
                            <!-- <small>Date that the badge kit was ordered.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Badge Kit Received</label>
                            <label class="check-wrap" for="badgeKitReceivedField">
                                <input type="checkbox" formControlName="badgeKitReceived" id="badgeKitReceivedField" />
                                <span class="checkmark"></span>
                            </label>
                            <!-- <small>Badge kit has been received.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgeFormatAddedByField">Format Added By</label>
                            <select formControlName="badgeFormatAddedBy" class="form-control form-control-sm" id="badgeFormatAddedByField">
                                <option value="">-- Select --</option>
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Badge Kit Link</label>
                            <br />
                            <a [class.disabled]="!form.value.badgeKitReceived" target="_blank" href="https://realityengineeringsol.sharepoint.com/2015%20Dev%20Kits/Forms/AllItems.aspx?viewpath=%2F2015%20Dev%20Kits%2FForms%2FAllItems.aspx">View Badge Kit in Sharepoint</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="badgeKitCostField">Badge Kit Cost</label>
                            <input type="number" formControlName="badgeKitCost" class="form-control form-control-sm" id="badgeKitCostField" />
                            <!-- <small>Cost of ordering the badge kit.</small> -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="badgeNotesField">Badge Notes</label>
                            <textarea formControlName="badgeNotes" class="form-control form-control-sm taller" id="badgeNotesField"></textarea>
                            <!-- <small>Notes and comments related to the badge kit.</small> -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="complianceInfoField">Compliance Info</label>
                            <textarea formControlName="complianceInfo" class="form-control form-control-sm taller" id="complianceInfoField"></textarea>
                            <!-- <small>Pharma compliance related information.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Ship Date:&nbsp;</label>
                            <span>{{(shipDate | date:'shortDate') || 'N/A'}}</span>
                        </div>
                    </div>
                </div>
                <div class="fixed-footer">
                    <div class="col-12">
                        <button type="submit" [disabled]="form.pristine" class="btn btn-primary float-right">Save</button>
                    </div>
                </div>
            </div>
            <div id="shipping" class="overflow" *ngSwitchCase="2">
                <div class="row pt-3 pl-3 pr-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="statusField">Status
                                <span class="required">*</span>
                            </label>
                            <select formControlName="status" class="form-control form-control-sm" id="statusField">
                                <option value="1">Cancelled</option>
                                <option value="2">Pending</option>
                                <option value="3">Approved</option>
                                <option value="4">Shipped</option>
                                <option value="5">Returned</option>
                                <option value="6">Backed Up</option>
                                <option value="7">Export Ready</option>
                                <option value="9">Report Complete</option>
                                <option value="8">Complete</option>
                            </select>
                            <!-- <small>Current status of the order through the pipeline.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="shipDateField">Equipment Ship Date</label>
                            <input #equipmentShips max="{{equipmentDelivery.value}}" type="date" formControlName="shipDate" class="form-control form-control-sm" id="shipDateField" />
                            <!-- <small>Date that equipment will be shipped out.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="arrivalDateField">Equipment Delivery Date</label>
                            <input #equipmentDelivery min="{{equipmentShips.value}}" type="date" formControlName="arrivalDate" class="form-control form-control-sm" id="arrivalDateField" />
                            <!-- <small>Date that equipment should arrive at Event/Show.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="shipMethodField">Shipping Method</label>
                            <select formControlName="shipMethod" class="form-control form-control-sm" id="shipMethodField">
                                <option value="">-- Select --</option>
                                <option value="1">Hand Carry</option>
                                <option value="2">First Overnight</option>
                                <option value="3">Overnight</option>
                                <option value="4">Two Day</option>
                                <option value="8">Two Day a.m.</option>
                                <option value="5">Three Day Express</option>
                                <option value="6">Ground</option>
                                <option value="7">Other</option>
                                <option value="9">Not Shipping</option>
                            </select>
                            <!-- <small>Prefered shipping speed.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="beginDateField">Event Starts
                                <span class="required">*</span>
                            </label>
                            <input #eventStarts type="date" formControlName="beginDate" class="form-control form-control-sm" id="beginDateField" />
                            <!-- <small>The date that the Event/Show starts.</small> -->
                        </div>
                    </div>
                    <!--<div class="col-4">
                        <div class="form-group">
                            <label for="accountOwnerField">Account Owner
                                <span class="required">*</span>
                            </label>
                            <select formControlName="accountOwner" class="form-control form-control-sm" id="accountOwnerField">
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                            <small>(**WMS User dropdown**)Salesperson that owns the account this order is under.</small>
                        </div>
                    </div>-->
                    <!-- <div class="col-4">
                        <div class="form-group">
                            <label for="accountManagerField">Account Manager</label>
                            <select formControlName="accountManager" class="form-control form-control-sm" id="accountManagerField">
                                <option value="">-- Select --</option>
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                            <small>(**WMS User dropdown**)Person in charge of detail management for the account this order is under.</small>
                        </div>
                    </div> -->
                    <div class="col-4">
                        <div class="form-group">
                            <label for="endDateField">Event Ends</label>
                            <input type="date" #eventEnds min="{{eventStarts.value}}" formControlName="endDate" class="form-control form-control-sm" id="endDateField" />
                            <!-- <small>Date the Event/Show ends.</small> -->
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <div class="form-group">
                            <label for="shipResponsibilityField ">Shipping Responsibility</label>
                            <select formControlName="shipResponsibility" class="form-control form-control-sm" id="shipResponsibilityField">
                                <option value="">-- Select --</option>
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                            <small>(**WMS User dropdown**)Person in charge of setup and shipping this order.</small>
                        </div>
                    </div> -->
                    <div class="col-4">
                        <div class="form-group">
                            <label for="warehouseStartDateField">Warehouse Open
                                <!-- <span class="required">*</span> -->
                            </label>
                            <input #warehouseOpen type="date" formControlName="warehouseStartDate" class="form-control form-control-sm" id="warehouseStartDateField" />
                            <!-- <small>The date that the Event/Show starts.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="warehouseTargetField">Warehouse Target
                                <!-- <span class="required">*</span> -->
                            </label>
                            <input #warehouseTarget min="{{warehouseOpen.value}}" type="date" formControlName="warehouseTarget" class="form-control form-control-sm" id="warehouseTargetField" />
                            <!-- <small>The date that the Event/Show starts.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="warehouseDeadlineField">Warehouse Deadline
                                <!-- <span class="required">*</span> -->
                            </label>
                            <input min="{{warehouseOpen.value}}" type="date" formControlName="warehouseDeadline" class="form-control form-control-sm" id="warehouseDeadlineField" />
                            <!-- <small>The date that the Event/Show starts.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="shipAccountReadout">Shipping Account</label>
                            <input type="text" [value]="shippingAccount" class="form-control form-control-sm" readonly id="shipAccountReadout">
                            <!-- <small>Prefered shipping speed.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="customerContactField">Customer Contact</label>
                            <select2 id="contactSelector" [options]="initialCustomerContact" [settings]="customerContactSelectSettings" formControlName="customerContactId"></select2>

                            <!-- <small>(**Customer Searchlist**)The contact at the customer company we are working with.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="CustomerEmail">Customer Email</label>
                            <input type="text" [value]="customerEmail" class="form-control form-control-sm" readonly id="CustomerEmail">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row pl-3 pr-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="shippingAddressField">Shipping Address</label>
                            <textarea type="text" formControlName="shippingAddress" class="form-control form-control-sm tall" id="shippingAddressField"></textarea>
                            <!-- <small>Address shipment should be sent to. Include (Company Name, C/O, Address)</small> -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="shippingNotesField">Shipping Notes</label>
                            <textarea formControlName="shippingNotes" class="form-control form-control-sm tall" id="shippingNotesField"></textarea>
                            <!-- <small>General notes related to shipping.</small> -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="trackingNumbersField">Ship-To Tracking Numbers</label>
                            <textarea formControlName="trackingNumbers" class="form-control form-control-sm tall" id="trackingNumbersField"></textarea>
                            <!-- <small>Tracking numbers of the out-going shipment.</small> -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="returnTrackingNumbersField">Return Tracking Numbers</label>
                            <textarea formControlName="returnTrackingNumbers" class="form-control form-control-sm tall" id="returnTrackingNumbersField"></textarea>
                            <!-- <small>Tracking numbers of the return shipment.</small> -->
                        </div>
                    </div>
                </div>
                <div class="row pt-2 pl-3 pr-3">
                    <div class="col-12">
                        <h5>Hardware Overview</h5>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Quoted Devices</th>
                                    <th>Backup Devices</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hw of orderHWList$ | async">
                                    <td>{{hw.productDescription}}</td>
                                    <td>{{hw.quantity}}</td>
                                    <td>{{hw.backupDevices}}</td>
                                    <td>{{hw.notes}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="fixed-footer">
                    <div class="col-12">
                        <button type="submit" [disabled]="form.pristine" class="btn btn-primary float-right">Save</button>
                    </div>
                </div>
            </div>
            <div id="services" class="overflow" *ngSwitchCase="3">
                <order-items [orderId]="orderId"></order-items>
            </div>
            <div id="support" class="overflow" *ngSwitchCase="4">
                <div class="row pt-3 pl-3 pr-3 pb-2">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="supportField">Support Status</label>
                            <select formControlName="support" class="form-control form-control-sm" id="supportField">
                                <option value="">-- Select --</option>
                                <option value="Approved">Approved</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Pending">Pending</option>
                                <!-- <option value="4">Approved</option>
                                <option value="5">Approved</option> -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="venueField">Venue</label>
                            <input type="text" formControlName="venue" class="form-control form-control-sm" id="venueField" />
                            <!-- <small>Convention center / Hotel this Event/Show is taking place at.</small> -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="supportTechField">Support Tech(s)</label>
                            <!-- <small>(**WMS User dropdown (needs 'null' option)**)RES Tech that will be supporting the Event/Show, if applicable.</small> -->
                        </div>
                        <div class="form-group-wrap">
                            <select formControlName="supportTechs" class="form-control form-control-sm float-left form-control-drop" id="supportTechField">
                                <option value="">-- Select --</option>
                                <option *ngFor="let cog of employees$ | async" [value]="cog.userName">{{cog.displayName}}</option>
                            </select>
                            <button type="button" (click)="addSupport($event)" class="btn btn-sm btn-primary float-left ml-3" style="line-height: 20px; position: relative; top: 0px;">
                                <i class="material-icons" style="margin-top: 2px; font-size:16px; vertical-align: top;">&#xE145;</i>
                            </button>
                            <ul class="techs">
                                <li *ngFor="let human of orderSupportTechs">
                                    <button type="button" class="btn-close-sm float-right" (click)="removeTechSupport(human)">
                                            {{human.displayName}}
                                            <i class="material-icons" style="font-size: 14px;">close</i>
                                        </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="supportNotesField">Notes</label>
                            <textarea type="text" formControlName="supportNotes" class="form-control form-control-sm tall" id="supportNotesField"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 pl-3 pr-3 pb-2">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="supportTravelDateInField">Travel Date In</label>
                            <input type="date" formControlName="supportTravelDateIn" class="form-control form-control-sm" id="supportTravelDateInField" />
                            <!-- <small>Date Support Tech begins travel for the Event/Show.</small> -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="supportDateInField">Support Date In</label>
                            <input type="date" formControlName="supportDateIn" class="form-control form-control-sm" id="supportDateInField" />
                            <!-- <small>Date Support Tech gets to Event/Show.</small> -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="beginDateField">Event Starts</label>
                            <input type="date" formControlName="beginDate" class="form-control form-control-sm" id="beginDateField" />
                            <!-- <small>The date that the Event/Show starts.</small> -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="endDateField">Event Ends</label>
                            <input type="date" formControlName="endDate" class="form-control form-control-sm" id="endDateField" />
                            <!-- <small>Date the Event/Show ends.</small> -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="supportDateOutField">Support Date Out</label>
                            <input type="date" formControlName="supportDateOut" class="form-control form-control-sm" id="supportDateOutField" />
                            <!-- <small>Date Support Tech leaves Event/Show.</small> -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="supportTravelDateOutField">Travel Date Out</label>
                            <input type="date" formControlName="supportTravelDateOut" class="form-control form-control-sm" id="supportTravelDateOutField" />
                            <!-- <small>Date Support Tech ends travel returning from the Event/Show.</small> -->
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row pt-2 pl-3 pr-3">
                    <div class="col-2">
                        <div class="form-group">
                            <label>Flight Booked</label>
                            <label class="check-wrap" for="supportFlightBookedField">
                                <input type="checkbox" formControlName="supportFlightBooked" id="supportFlightBookedField" />
                                <span class="checkmark"></span>
                            </label>
                            <!-- <small>Indicates if the hotel for the Support Tech will be provided by the Customer.</small> -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>Hotel Booked</label>
                            <label class="check-wrap" for="supportHotelBookedField">
                                <input type="checkbox" formControlName="supportHotelBooked" id="supportHotelBookedField" />
                                <span class="checkmark"></span>
                            </label>
                            <!-- <small>Indicates if the hotel for the Support Tech will be provided by the Customer.</small> -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>Hotel Provided</label>
                            <label class="check-wrap" for="supportHotelClientProvidedField">
                                <input type="checkbox" formControlName="supportHotelClientProvided" id="supportHotelClientProvidedField" />
                                <span class="checkmark"></span>
                            </label>
                            <!-- <small>Indicates if the hotel for the Support Tech will be provided by the Customer.</small> -->
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="supportHotelAddressField">Hotel Address</label>
                            <textarea type="text" formControlName="supportHotelAddress" class="form-control form-control-sm tall" id="supportHotelAddressField"></textarea>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-3">
                        <div class="form-group">
                            <label for="onSiteContactIdField">On Site Contact</label>
                            <div>**Not Implemented**</div>
                            <select2 [options]="initialOnsiteContact" [settings]="onsiteContactSettings" formControlName="onSiteContactId"></select2>
                            <small>(**Contact Searchlist**)Third-party contact that is managing our HW/SW at the Event/Show.</small>
                        </div>
                    </div> -->
                <div class="fixed-footer">
                    <div class="col-12">
                        <button type="submit" [disabled]="form.pristine" class="btn btn-primary float-right">Save</button>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
            <label for="billingCellField">Billing Mobile Phone</label>
            <input type="text" formControlName="billingCell" class="form-control form-control-sm" id="billingCellField" />
            <small>???</small>
        </div>
        <div class="form-group">
            <label for="billingAddressField">Billing Address</label>
            <input type="text" formControlName="billingAddress" class="form-control form-control-sm" id="billingAddressField" />
            <small>???</small>
        </div>
        <div class="form-group">
            <label for="billingEmailField">Billing Email</label>
            <input type="email" formControlName="billingEmail" class="form-control form-control-sm" id="billingEmailField" />
            <small>???</small>
        </div>
        <div class="form-group">
            <label for="billingPhoneField">Billing Phone</label>
            <input type="text" formControlName="billingPhone" class="form-control form-control-sm" id="billingPhoneField" />
            <small>???</small>
        </div>
        <div class="form-group">
            <label for="billingNotesField">Billing Notes</label>
            <input type="text" formControlName="billingNotes" class="form-control form-control-sm" id="billingNotesField" />
            <small>???</small>
        </div> -->
            <!-- <div class="form-group">
            <label>Equipment Returned?</label>
            <label class="check-wrap" for="equipmentReturnedField">
                <input type="checkbox" formControlName="equipmentReturned" id="equipmentReturnedField" />
                <span class="checkmark"></span>
            </label>
        </div> -->
        </div>
    </form>