.btn-close-sm {
  font-size: 14px;
  line-height: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: #007bff;
  outline: none;
}

input[type=date] {
  height: calc(1.8125rem + 2px);
}

.invalid-state {
    border: 1px solid;
    border-color: red;
    // background: pink;
    padding: 2px;

}

#toolytip{
    background:#1d1d1d;
    color:#fff;
    padding:7px;
    border-radius:5px;
    position:absolute;
    min-width:50px;
    max-width:300px;
    display:none;
}

#toolytip:before{
    content:'';
    height:3px;
    width:0;
    border:7px solid transparent;
    border-bottom-color:#1d1d1d;
    position:absolute;
    top:-16px;
    left:14px;
    // display:none;
}

.fixed-footer {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: #ffffff; 
    width: 100%; 
    margin-left: -15px;
    padding: 20px 10px;
}

/* Customize the label (the container) */
.check-wrap {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0px 10px 20px 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 31px;
    width: 31px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(206, 212, 218);
  }
  
  /* On mouse-over, add a grey background color */
  .check-wrap:hover input ~ .checkmark {
    background-color: #f0f0f0;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-wrap input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-wrap input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-wrap .checkmark:after {
    left: 10px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid #007bff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .overflow {
    height: 71vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
  }
.form-group-wrap {    
  padding: 10px 10px 5px 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: -4px;
  min-height: 95px;
}

.form-control-drop {
  width: 83.3%;
  margin-bottom: 10px;
}

  ul.techs {
    list-style-type: none;
    padding-left: 0px;
    border-radius: 5px;
    margin-bottom: -2px;
    line-height: 18px;
  }

  ul.techs li {
    display: inline-block;
    background-color: #fff;
    margin: 0px 0px 0px 0px;
    border: 1px solid #ced4da;
    height: calc(1.8125rem + 2px);
    padding: 5px 0px 0px 10px;
    border-radius: 4px;
    width: 48%;
    font-size: 0.875rem;
    margin-bottom: 5px;
  }
  
  ul.techs li.empty {
    width: 100%;
    border: 1px solid transparent;
    padding: 7px 0px 0px 0px;
    text-align: center;
  }

  ul.techs li:nth-child(odd) {
    margin-right: 4%;
  }

  ul.techs li:nth-child(even) {
    margin-right: 0%;
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1440px) {
    .form-control-drop {
      width: 70%;
    } 

    ul.techs li {

      width: 100%;
    }
}

