﻿
<div class="row mt-2 ml-2 mr-2">
    <input [disabled]="disableSearch" type="text" id="searchBox" class="form-control float-left search" placeholder="Start typing..." (keyup)="searchTerm$.next($event.target.value)">
    <div class="mx-sm-2 float-left form-inline">
        <select [(ngModel)]="currentTab" class="form-control view-drop" id="currentTabField">
            <option value="master">General Overview</option>
            <option value="badges">Badges Overview</option>
            <option value="shipping">Shipping Overview</option>
            <option value="support">Support Overview</option>
        </select>
    </div>
    <button class="btn btn-close btn-link" (click)="closingDetails()" routerLink='/orders'>
        <i class="material-icons" style="font-size:22px; vertical-align: top;">&#xE14c;</i>
    </button>
    <button routerLink='/orders/order-details/0' class="btn btn-primary float-left ml-2">
        <i class="material-icons" style="font-size:22px; vertical-align: top; position: relative; top: 1px;">&#xE145;</i>
        New Order
    </button>
    <!-- <button  class="btn btn-primary float-left ml-3" *ngIf="showClearFiltersButton" (click)="clearFilters()" >
        <i class="material-icons" style="font-size:22px; vertical-align: top; position: relative; top: 1px;">clear</i>
        Clear Filters
    </button> -->
    <div [ngClass]="{'show-details' : showDetailsBoolean, 'hide-details' : !showDetailsBoolean }" id="slide"> 
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
    </div>
</div>
<div class="row mt-2 ml-2 mr-2">
    <div [ngClass]="{'btn-header-row' : true , 'badges': columnStyle === 'badges', 'shipping' : columnStyle === 'shipping', 'support' : columnStyle === 'support'}">
        <div class="btn-header" style="position:relative;" *ngFor="let header of headers$ | async">
            <!-- <button class="btn btn-link btn-sort"  (click)="openPopOver($event)" > -->
            <button class="btn btn-link btn-sort"  (click)="changeOrder($event)" >
                <span style="font-weight: 600;" id={{header.idName}} >{{header.displayName}}</span> 
                <!-- <i id={{header.idName}} class="material-icons"style="vertical-align: middle;">import_export</i> -->
                <i id={{header.idName}} class="material-icons"style="vertical-align: middle;">filter_list</i>
            </button>
            <div #popoverTemplate id={{header.idName}}></div>
        </div>
    </div>
    <table class="table table-sm table-fixed" >
        <tbody [ngClass]="{'badges': columnStyle === 'badges', 'shipping' : columnStyle === 'shipping','support' : columnStyle === 'support'}">
            <tr *ngFor="let order of orders$ | async" [routerLink]="['/orders/order-details', order.orderId]" (click)='onClick($event)' >
            <!-- <tr *ngFor="let order of orders$ | async" (click)='onClick($event)' > -->
                <td *ngFor="let column of headers$ | async">{{order[column.fieldName]}}</td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="showShowAll" (click)="showAll()" class="btn btn-primary btn-show">
            <i class="material-icons" style="font-size:22px; vertical-align: top; position: relative; top: 1px;">view_list</i> Show All
    </button>
</div>
