
.table-fixed {
    background-color: #fff;
    tbody{
      tr:hover, tr:nth-child(odd):hover {
        background-color: #99ccff;
      }
      th {
          width: 25%;
      }
      td{
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
}