<div class="row">
	<div class="col-4" style="margin-top:-70px;">
		<div class="mb-2">
			<button class="btn btn-primary" (click)="doCreate()" [ngClass]="{'table-active':currentItemId==0}">
				+ Add Hardware
			</button>
		</div>
		<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate [hidden]="!showDetails" style="opacity: 50%;"> 
				<!-- [hidden]="!showDetails" -->
			<div class="row pb-3">
				<div class="form-group col-12">
					<label for="rentalProductIdField">Hardware Type</label>
					<select formControlName="rentalProductId" id="rentalProductIdField" class="form-control form-control-sm">
						<option value="0">-- Select --</option>
						<option *ngFor="let paperweight of allHardware$ | async" [value]="paperweight.productId">{{paperweight.description}}</option>
					</select>
				</div>
				<div class="form-group col-6">
					<label for="quanityField">Quoted Devices</label>
					<input formControlName="quantity" id="quanityField" type="number" class="form-control form-control-sm"/>
				</div>
				<div class="form-group col-6">
						<label for="backupDevicesField">Backup Devices</label>
						<input formControlName="backupDevices" id="backupDevicesField" type="number" class="form-control form-control-sm"/>
					</div>
				<div class="col-12">
					<div class="form-group">
						<label for="notesField">Notes</label>
						<textarea formControlName="notes" id="notesField" class="form-control tall"></textarea>
					</div>
				</div>
				<div class="col-12">
					<div class="float-right pt-2">
						<button type="button" *ngIf="showDelete" (click)="onDeleteCurrentItem()" class="btn btn-danger mr-3">Delete Item</button>
						<button type="submit" [disabled]="form.pristine" class="btn btn-primary">{{showDelete?'Save':'Add Item'}}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-8">
			<table class="table table-sm table-fixed">
				<thead>
					<tr>
						<th>Hardware Type</th>
						<th>Quoted Devices</th>
						<th>Backup Devices</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let bricks of orderItemHardware$ | async"(click)="doEdit(bricks)">
						<td>{{bricks.productDescription}}</td>
						<td>{{bricks.quantity}}</td>
						<td>{{bricks.backupDevices}}</td>
						<td>{{bricks.notes}}</td>
					</tr>
				</tbody>
			</table>
		<!-- <div style="padding: 0px 6px 6px 6px; margin-bottom: 4px; border-bottom: 2px solid #dee2e6;;">
			<div class="w-25 float-left font-weight-bold">Description</div>
			<div class="w-25 float-left font-weight-bold">Quoted Devices</div>
			<div class="w-25 float-left font-weight-bold">Backup Devices</div>
			<div class="w-25 float-left font-weight-bold">Notes</div>
			<div class="clearfix"></div>
		</div>
		<div class="list-group mt-2 mb-2">
			<button type="button" class="list-group-item list-group-item-sm list-group-item-action">
				<div class="w-25 float-left">
					{{bricks.productDescription}}
				</div>
				<div class="w-25 float-left">
					{{bricks.quantity}}
				</div>
				<div class="w-25 float-left">
					{{bricks.backupDevices}}
				</div>
				<div class="w-25 float-left">
					{{bricks.notes}}
				</div>
			</button>
		</div> -->
	</div>
</div>

		<!-- <tr *ngFor="let bricks of orderItemHardware$ | async" (click)="doEdit(bricks)" [ngClass]="{'table-active':currentItemId==bricks.itemId}">
			<td>{{bricks.productDescription}}</td>
			<td>{{bricks.quantity}}</td>
			<td>{{bricks.notes}}</td>
		</tr>
		<tr>
			<td colspan="3"(click)="doCreate()"  [ngClass]="{'table-active':currentItemId==0}"><button class="btn btn-link no-padding" type="button">+ Add Rental</button></td>
 		-->

