<div>
    <!-- <div class="row details">
        <div class="col-12">
            <h4>Partners</h4>
        </div>
        <button  id="special-button" class="btn btn-primary"  (click)="showhide()">
            <i class="material-icons" [hidden]="HidePartners === false ? true : false"  style="vertical-align : top; font-size : 22px;">&#xE5CF;</i> 
            <i class="material-icons" [hidden]="HidePartners === true ? true : false" style="vertical-align : top; font-size : 22px;"  >&#xE5CE;</i>
        </button>
    </div> -->
    <!-- <div  class="row ml-3 mr-3"> -->
    <div>
        <div *ngIf="showEdit" class="row pl-3 pr-3">
            <div class="col-4">
                <div class="form-group">
                    <label for="nameField">Partner Name
                        <span class="required">*</span>
                    </label>
                    <input class="form-control form-control-sm mt-0" #editBox [(ngModel)]="editPartner.name" type="text" />
                </div>
                <button type="button" (click)="Edit_Save(editBox.value)" class="btn btn-sm btn-primary float-right ml-3 mt-2 mb-2"  style="line-height: 20px;">
                    Save
                </button>
                <button type="button" (click)="Delete_Ask()" class="btn btn-sm btn-danger float-right mt-2 mb-2"  style="line-height: 20px;">
                    Delete
                </button>
            </div>
        </div>
        <div *ngIf="!showDeleteConfirm && !showEdit" class="row pl-3 pr-3">
            <div class="col-4">
                <div class="form-group">
                    <label for="nameField">Partner Name
                        <span class="required">*</span>
                    </label>
                    <input class="form-control form-control-sm mt-0" #addBox type="text" [(ngModel)]="newPartner" />
                </div>
                <button type="button" (click)="Create(addBox.value)" class="btn btn-sm btn-primary float-right mt-2 mb-2"  style="line-height: 20px;">
                    Add
                </button>
            </div>
        </div>
        <div *ngIf="showDeleteConfirm" class="row pt-1 pb-1 pl-3 pr-3">
            <div class="col-4">
                <div class="float-left pt-2">
                    Are you sure you want to delete {{editPartner.name}}?
                </div>
                <button (click)="Delete_Okay()" class="btn btn-sm btn-primary float-right ml-2"  style="line-height: 20px;">Yes</button>
                <button class="btn btn-sm btn-danger float-right ml-2"  style="line-height: 20px;">No</button>
            </div>
        </div>
    </div>
    <hr />
    <ul>
        <li *ngFor="let partnerDude of partners$ | async">
            <button type="button" class="btn btn-default btn-link" (click)="MakeChanges(partnerDude)">{{partnerDude.name}}</button>
            <!-- <section>
                <button id="special-button" (click)="Edit_Show(partnerDude)">
                    <i class="material-icons">&#xE150;</i>
                </button> 
                <button  id="special-button" (click)="Delete_Ask(partnerDude)">
                    <i class="material-icons">&#xE92B;</i>
                </button> 
            </section> -->
        </li>
    </ul>
</div>
<hr>
<!-- <table *ngFor="let relatives of partnerRelationships$ | async">
        <td>
            {{relatives.description}}
        </td>
    </table> -->