ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style-type: none;
    // padding-bottom: 50px;
    padding-left: 10px;
    margin: 0px 0px;
    li {
        position: relative;
        button {
            font-size: 16px;
            border: none;
            line-height: inherit;
            width: 100%;
            text-align: left;
            padding-left: 5px;
            margin: 0px;
            //position: absolute;
        }
        div {
            font-size: 16px;
        }
    }
}


hr {
    margin: 8px 15px;
}

#button-special {
    background-color: inherit;

}