<!-- <div class="row mr-3 ml-3">
    <h2>Contacts</h2>
</div> -->
<div class="row mt-2 ml-2 mr-2">
    <input type="text" id="searchBox" class="form-control w-25 float-left" placeholder="Start typing..." (keyup)="searchTerm$.next($event.target.value)">
    <button class="btn btn-close-2 btn-link" routerLink='/contacts'>
        <i class="material-icons" style="font-size:22px; vertical-align: top;">&#xE14c;</i>
    </button>
    <div [ngClass]="{'show-details' : showDetailsBoolean, 'hide-details' : !showDetailsBoolean }" id="slide">
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
    </div>
    <button routerLink='/contacts/contact-details/0' class="btn btn-primary ml-3">
        <i class="material-icons" style="font-size: 22px; vertical-align: top;">&#xE7FE;</i>
        New Contact
    </button>
</div>
<div class="row mt-2 ml-2 mr-2">
    <table class="table table-sm table-fixed">
        <thead>
            <tr>
                <th *ngFor="let header of headers$ | async">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts$" [routerLink]="['/contacts/contact-details', contact.contactId]">
                <td *ngFor="let column of columns$ | async">{{contact[column]}}</td>
        </tbody>
    </table>
    <!-- <button class="btn btn-primary btn-show">
        Show More
    </button> -->
</div>