.table-fixed{
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    tbody{
      height: 77vh;
      overflow-y:auto;
      width: 100%;
      padding-right: 20px;
      }
    thead,tbody,tr{
      display:block;
    }
    tbody{
      tr:hover {
        background-color: #EEEEEE;
      }
      tr:active, tr:focus {
        background-color: #F5F5F5;
        outline: 0;
      }
      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }
      td{
        display: inline-block;
        width: 11.1%;
        padding: 2px 10px 2px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    thead {
      margin-right: 17px;
      tr{
        th{
         display: inline-block;
         border-color:#fff;
         color: rgba(0, 0, 0, 0.827);
         font-weight: 600;
         width: 11.1%;
         padding: 2px 10px 2px 10px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
        }
      }
    }
  }