<div>
	<div class="row details">
		<div class="col-11">
			<h2>Contact Details</h2>
			<!-- <small>{{title}}</small> -->
		</div>
	</div>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
		<div class="row pt-3 pr-3 pl-3">
			<div class="col-4">
				<div class="form-group">
					<label for="firstNameField">First Name <span class="required">*</span></label>
					<input type="text" class="form-control" formControlName="firstName" id="firstNameField" />
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="lastNameField">Last Name <span class="required">*</span></label>
					<input type="text" class="form-control" formControlName="lastName" id="lastNameField" />
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="companyField">Company <span class="required">*</span></label>
					<input type="text" formControlName="company" class="form-control" id="companyField"/>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="emailField">Email</label>
					<input type="text" formControlName="email" class="form-control" id="emailField"/>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="jobTitleField">Job Title</label>
					<input type="text" formControlName="jobTitle" class="form-control" id="jobTitleField"/>
				</div>
            </div>
            <div class="col-4">
				<div class="form-group">
					<label for="workPhoneField">Work Phone</label>
					<input type="text" formControlName="workPhone" class="form-control" id="workPhoneField"/>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="mobilePhoneField">Mobile Phone</label>
					<input type="text" formControlName="mobilePhone" class="form-control" id="mobilePhoneField"/>
				</div>
			</div>
			<div class="form-group col-8">
				<label for="linkedOrganizationsField">Linked Customers</label>
				<select2 [options]="initialLinkedOrgs" [settings]="linkedOrgSettings" formControlName="linkedOrganizations" id="linkedOrganizationsField"></select2>
			</div>
			<div class="form-group col-12">
				<label for="notesField">Notes</label>
				<textarea formControlName="notes" class="form-control tall" id="notesField"></textarea>
			</div>
		</div>
		<div class="row pt-3 pl-3 pr-3">
			<div class="col-12">
				<button type="submit" [disabled]="form.pristine" class="btn btn-primary float-right">Save</button>
			</div>
		</div>
	</form>
</div>